<section class="bg-body-tertiary py-5">
    <div class="container">
        <h3>Get the freshcart app</h3>
        <p>we will send you a link, open it on your phone to download app </p>
        <form  class= " row justify-content-between align-items-center  ">
            <div  class="col-md-9 ">
                <input type="text" placeholder="email..." class="w-75 ms-1 ">

            </div>

            <div class="col-md-3" >
                <button class="btn bg-main text-white">share app link</button>

            </div>
        </form>
        <hr>

        <div class="d-flex">
            <span class="h4">payment parters</span>
       
                <img  src="assets/finalProject assets/Amazon-Pay-logo.svg" alt="">

                <img   src="assets/finalProject assets/mastercard_logo.svg__3.png" alt="">

            
                <img  src="assets/finalProject assets/PayPal-Logo.png" alt="">

            
        </div>

        <hr>

        <div class="text-center ">

            <span class="mt-2">ibrahym elgharabawy</span>

        </div>

       
    </div>
</section>
