
.di-block{
flex-wrap: nowrap;
}


@media screen and (max-width: 768px) {
    .di-block{
       flex-wrap: wrap;
       justify-content: center !important;
       row-gap: 10px;
       width: 98% !important;
    }
  }