<app-navbar></app-navbar>
<section  class="main-section ">
  
  <router-outlet></router-outlet>

</section>

<ngx-spinner


  bdColor="rgba(10, 173, 10, 0.6)"
  size="medium"
  color="#fff"
  
  

>
  <p class="fw-bold" style="font-size: 30px; color: white"> <i class="fa-solid fa-cart-shopping "></i> freshcart</p>
</ngx-spinner>


 <!-- <ngx-spinner
  
  bdColor="rgba(10, 173, 10, 0.6)"
  template="<img src='./assets/finalProject assets/freshcart-logo.svg' />"
>
</ngx-spinner>  -->
<app-footer></app-footer>