

<owl-carousel-o [options]="customOptions">
  <ng-template carouselSlide><img src="./assets/firsr slide/1cc4c0fc-9ba0-412f-a492-24e26bd58477.dbb61de4750a5d66463a.avif" alt="alternate text"></ng-template>  
  <ng-template carouselSlide><img src="./assets/firsr slide/1e2ea023-2cc9-45aa-bcfc-338e41c13b8f.ac409b79b29a9ca80f04.avif" alt="alternate text"></ng-template>  
  <ng-template carouselSlide><img src="./assets/firsr slide/30033578-2c2c-4dba-8d4f-fe0d1f9642d9.6862e0bbf4fd9abcf056.avif" alt="alternate text"></ng-template>  
  <!-- <ng-template carouselSlide><img src="../../assets/firsr slide/54c32f86-795b-48f3-be68-611a1ee531c7.42c1b480d8e71c32e366 (1).avif" alt="alternate text"></ng-template>   -->
  <ng-template carouselSlide><img src="./assets/firsr slide/54c32f86-795b-48f3-be68-611a1ee531c7.42c1b480d8e71c32e366.avif" alt="alternate text"></ng-template>  
  <ng-template carouselSlide><img src="./assets/firsr slide/84b8f2b7-1f54-4ecd-a4bb-507dddfcd8f3.b93be5596fc5071377a3.avif" alt="alternate text"></ng-template>  
  <ng-template carouselSlide><img src="./assets/firsr slide/a4f4b458-c1f1-424c-aa1f-fd5bd2a8d41f.b10b388257b8792f0604.avif" alt="alternate text"></ng-template>  
  <ng-template carouselSlide><img src="./assets/firsr slide/a9050047-dcaa-4cf7-ba07-7e2de6d5bb98.1c91855d0ac1b86e661c.avif" alt="alternate text"></ng-template>  
    
</owl-carousel-o>





  <div class="mb-2  container mx-auto">

    <owl-carousel-o [options]="categeriosSlider">

      <ng-container *ngFor="let category of allCategerios">
        <ng-template carouselSlide>
          <figure class="product border-2 border-warning">
            <img style="height: 250px ;" class="w-100 d-block m-auto" [src]="category.image">
            <figcaption class="h5 text-main">{{category.name}}</figcaption>
          </figure>
        </ng-template>
      </ng-container>

    </owl-carousel-o>

  </div>



  <!-- <div class="mb-2 ">

    <owl-carousel-o [options]="customOptions">

      <ng-container *ngFor="let img of allproducts">
        <ng-template carouselSlide>
          <figure class="product m-2  rounded-5 cursor-pointer">
            <img [routerLink]="['/productDetails',img.id]" class="w-75 d-block m-auto" [src]="img?.imageCover">
          </figure>
        </ng-template>
      </ng-container>

    </owl-carousel-o>

  </div> -->




  <input [(ngModel)]="searchValue" type="text" class="form-control w-75  my-3 mx-auto border-success border-2"
    placeholder="search........">


  <div class="row g-1 container mx-auto">

    <div *ngFor="let product of allproducts | search:searchValue | paginate: { id: 'productsPagintion',
        itemsPerPage: pageSizeProducts,
        currentPage: currentPageOfProducts,
        totalItems: totalProducts }  " class="col-lg-2 col-md-4  rounded-3 product p-2 pb-0 position-relative">

      <figure [routerLink]="['/productDetails',product.id]">

        <img class="w-100" [src]="product.imageCover" [alt]="product.slug">

        <figcaption>

          <span class="text-main">{{product.category.name}}</span>
          <h1 class="h6">{{product.title?.split(' ')?.slice(0,3)?.join(' ') }}</h1>
          <div class="d-flex justify-content-between align-items-center">
            <span><b>{{product.price}} EGP</b></span>
            <span> <i class="rating-color fa-solid fa-star"></i>{{product.ratingsAverage}}</span>

          </div>
        </figcaption>

      </figure>

      <span *ngIf="!wishesItems.includes(product._id)" (click)="addProductToWishlistHeart(product._id)"
        class="position-absolute" [class.fa-spin]="product._id==isloadingHeartAdd" ><i   class=" fa-solid fa-heart text-main fa-2x cursor-pointer"></i></span>

      <span *ngIf="wishesItems.includes(product._id)" (click)="RemoveFromWishBtn(product._id)"
        class="position-absolute" [class.fa-spin]="product._id==isloadingHeart"><i class="fa-solid fa-heart-crack text-main fa-2x cursor-pointer"></i></span>


      <button *ngIf="!idOfProductInCart.includes(product._id) " (click)="addProductToCartBtn(product._id)"
        class="d-block w-100 btn bg-main my-auto text-white mb-1"> <span *ngIf="product._id!=isloading">add to cart</span> <i *ngIf="product._id==isloading"
          class="fa-solid fa-bahai fa-spin"></i> </button>
      <button *ngIf="idOfProductInCart.includes(product._id) " (click)="RemoveSpecificCartItemBtn(product._id)"
        class="d-block w-100 btn bg-danger my-auto text-white mb-1"><span *ngIf="product._id!=isloading">remove</span> <i *ngIf="product._id==isloading"
          class="fa-solid fa-bahai  fa-spin"></i> </button>

          

    </div>

  </div>


  <div class="d-flex justify-content-center mt-4 h4">

    <pagination-controls id="productsPagintion" (pageChange)="pageChanged($event)"
      (pageBoundsCorrection)="pageChanged($event)" [maxSize]="totalProducts" [directionLinks]="true" [autoHide]="true"
      [responsive]="true" previousLabel="Previous" nextLabel="Next" screenReaderPaginationLabel="Pagination"
      screenReaderPageLabel="page" screenReaderCurrentLabel="You're on page">
    </pagination-controls>

  </div>

