<div class="w-75 mx-auto my-5 py-2">

    <h1 class="modal-title text-main" id="exampleModalLabel">forget password :</h1>

    <form *ngIf="forgetPasswordflag" [formGroup]="forgetPasswordForm" (ngSubmit)="forgetPasswordSubmint()">
        <h3 class="text-center text-main mb-3">enter your email</h3>
        <label class="mb-2 " for="email">email :</label>
        <input formControlName="email" type="text" class="form-control mb-3">
        <button type="submit" class="btn bg-main d-block ms-auto text-white">send<span *ngIf="loadingSpinner"><i
                    class="fa-solid fa-spinner fa-spin"></i></span></button>
    </form>

    <form *ngIf="VerifyCodeFlag" [formGroup]="VerifyResetCodeForm" (ngSubmit)="VerifyResetCodeSubmint()">
        <h3 class="text-center text-main ">enter verify code </h3>
        <label class="mb-2 " for="Verify Code">Verify Code :</label>
        <input formControlName="resetCode" type="text" class="form-control mb-3">
        <button type="submit" class="btn bg-main d-block ms-auto text-white">send<span *ngIf="loadingSpinner"><i
                    class="fa-solid fa-spinner fa-spin"></i></span></button>
    </form>

    <form *ngIf="newPasswordFlag" [formGroup]="resetPasswordForm" (ngSubmit)="resetPasswordSubmint()">
        <h2 class="text-center text-main">enter your new password</h2>
        <label class="mb-2 " for="Verify Code">email :</label>
        <input formControlName="email" type="text" class="form-control mb-3">
        <label class="mb-2 " for="Verify Code">enter new password :</label>
        <input formControlName="newPassword" type="text" class="form-control mb-3">
        <button type="submit" class="btn bg-main d-block ms-auto text-white">submint<span *ngIf="loadingSpinner"><i
                    class="fa-solid fa-spinner fa-spin"></i></span></button>
    </form>

</div>